# Export all public methods, that is, those without a preceeding dot
# in their names.
##exportPattern("^[^\\.]")

export("appendVarArgs")
##export("export")
##export("export<-")
export("findDispatchMethodsS3")
export("getDispatchMethodS3")
export("getGenericS3")
export("getMethodS3")
export("hasVarArgs")
export("isGenericS3")
export("isGenericS4")
##export("noexport")
##export("S3class<-")
export("setGenericS3")
export("setMethodS3")
export("throw")
S3method("appendVarArgs", "function")
S3method("findDispatchMethodsS3", "default")
S3method("getDispatchMethodS3", "default")
S3method("getGenericS3", "default")
S3method("getMethodS3", "default")
S3method("hasVarArgs", "function")
S3method("setGenericS3", "default")
S3method("setMethodS3", "default")
S3method("throw", "default")
